extends layout

block content
  .notes-container
    h1 Notas
    each note in notes
      .note-card
        h2= note.title
        p Fecha de creación: #{note.created_at_formatted}
        p= note.content
        if note.shared_by
          p Compartido por: #{note.shared_by}
        a.btn.btn-primary(href=`/notes/edit/${note.id}`) Editar
        a.btn.btn-danger(href=`/notes/delete/${note.id}`) Eliminar
