extends layout

block content
  .notes-container
    h1 Notas
    form.search-form(action="/notes/search" method="GET")
      input(type="text" name="query" placeholder="Buscar en notas..." class="search-input")
      button(type="submit" class="search-button") Buscar
    a.btn.btn-crearnota(href="/notes/new") Crear Nota
    each note in notes
      .note-card
        h2= note.title
        p= note.content
        p Fecha de creación: #{note.created_at_formatted}
        if note.shared_by
          p Compartido por: #{note.shared_by}
        a.icon-btn(href=`/notes/edit/${note.id}`)
          img(src="/images/editar.png", alt="Editar", width="24", height="24")
        a.icon-btn(href=`/notes/delete/${note.id}`)
          img(src="/images/eliminar.png", alt="Eliminar", width="24", height="24")
